body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
    background-image: url('fondo.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro y translúcido */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

h1, h2 {
    font-family: 'Orbitron', sans-serif; /* Fuente futurista */
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

textarea, select, button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
}

textarea {
    background-color: #333;
    color: #fff;
}

select {
    background-color: #444;
    color: #fff;
}

button {
    background-color: #00bfff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #1e90ff;
}

video {
    width: 100%;
    max-height: 400px;
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: relative;
    z-index: 1;
}
